<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body class="container">

<header th:replace="~{fragments :: navigation}"></header>

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <td th:text="${event.id}"></td>
    </tr>
    <tr>
        <th>Description</th>
        <td th:text="${event.eventDetails.description}"></td>
    </tr>
    <tr>
        <th>Contact Email</th>
        <td th:text="${event.eventDetails.contactEmail}"></td>
    </tr>
    <tr>
        <th>Location</th>
        <td th:text="${event.eventDetails.location}"></td>
    </tr>
    <tr>
        <th>Is Registered</th>
        <td th:text="${event.eventDetails.registered}"></td>
    </tr>
    <tr>
        <th>No. Of Attendees</th>
        <td th:text="${event.eventDetails.numberOfAttendees}"></td>
    </tr>
</table>
</body>
</html>